.banner {
    position: relative;

    // background: ;
    .imagex {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .judul {
        position: absolute;
        left: 50%;
        top: 20%;
        transform: translate(-50%, -50%);
        // background: white;

        @media screen and (max-width: 766px) {
            transform: initial;
            left: 0;
            top: 10%;
        }

        h2 {
            // font-family: 'Alkatra';
            font-family: 'Kanit';
            font-size: 5.5rem;
            text-align: center;
            color: #a8101d;
            line-height: 5rem;
            text-shadow: 2px 2px white;

            @media screen and (max-width: 766px) {
                font-size: 2.8rem;
                line-height: 2.6rem;
                text-shadow: 1px 1px white;
            }
        }
    }
}