.credit {
    // background: #d8ffc3;
    background: #4e565d;
    position: relative;
    min-height: 70vh;
    @media screen and (max-width: 766px) {
        min-height: 50vh;
    }
    .imagec {
        width: 100%;
        height: auto;
        // opacity: .4;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .bg {
        position: absolute;
        bottom: 0;
        opacity: .2;
        left: 0;
        right: 0;
        width: 100%;
        height: 50vh;
        &::before {
            // content: "";
            // bottom: 0;
            // left: 0;
            // position: absolute;
            // right: 0;
            // // width: 100%;
            // height: 50vh;
            // background: linear-gradient(to top, transparent, #bcf69d);
            content: "";
            bottom: 0;
            left: 0;
            position: absolute;
            right: 0;
            height: 50vh;
            background: linear-gradient(to top, transparent, #4e565d);
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .alls {
        margin-bottom: 8px;
        .titlex {
            font-size: 1rem;
            color: #fcfcfc;
        }
        .name {
            font-weight: bold;
            font-size: 1.2rem;
            color: white;
        }
    }
}