.data-tol {
    // background: #c7efe7;
    position: relative;
    // background: #5e5e5e;
    background: linear-gradient(to bottom, #c7efe7, #5e5e5e);
    .image-awanz {
        position: absolute;
        /* top: 0; */
        left: 0;
        right: 0;
        z-index: 9;
        bottom: -1px;
        height: auto;
        width: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    @media screen and (max-width: 766px) {
        // background: #bdebee;
        // background: linear-gradient(to bottom, #c7efe7, #bdebee);
    }
    .image-awan {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: auto;
        width: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .imagev {
        width: 100vw;
        height: 60vh;
        position: absolute;
        // top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        @keyframes MoveUpDown {
            0% {
                left: 10%;
                bottom: 26%;
                opacity: 0;
                transform: scale(1);
            }
            15% {
                left: 10%;
                bottom: 26%;
                opacity: 1;
                transform: scale(1);
            }
            50% {
                left: 10%;
                bottom: 16%;
                opacity: 1;
                transform: scale(1.1);
            }
            70% {
                left: 10%;
                bottom: 10%;
                opacity: 1;
                transform: scale(1.2);
            }
            85% {
                left: 10%;
                bottom: 5%;
                opacity: 1;
                transform: scale(1.5);
            }
            90% {
                left: 10%;
                bottom: 1%;
                opacity: .5;
                transform: scale(1.5);
            }
            100% {
                left: 10%;
                bottom: 0%;
                opacity: 0;
                transform: scale(1.5);
            }
        }
        @keyframes MoveUpDownMob {
            0% {
                left: 10%;
                bottom: 35%;
                opacity: 0;
                transform: scale(1);
            }
            15% {
                left: 10%;
                bottom: 35%;
                opacity: 1;
                transform: scale(1);
            }
            50% {
                left: 10%;
                bottom: 16%;
                opacity: 1;
                transform: scale(1.3);
            }
            70% {
                left: 10%;
                bottom: 10%;
                opacity: 1;
                transform: scale(1.5);
            }
            85% {
                left: 10%;
                bottom: 5%;
                opacity: 1;
                transform: scale(1.5);
            }
            90% {
                left: 10%;
                bottom: 1%;
                opacity: .5;
                transform: scale(1.5);
            }
            100% {
                left: 10%;
                bottom: 0%;
                opacity: 0;
                transform: scale(1.5);
            }
        }
        @keyframes MoveUpDownMobH {
            0% {
                left: 40%;
                bottom: 40%;
                opacity: 0;
                transform: scale(.5);
            }
            15% {
                left: 40%;
                bottom: 40%;
                opacity: 1;
                transform: scale(.7);
            }
            50% {
                left: 40%;
                bottom: 38%;
                opacity: 1;
                transform: scale(.7);
            }
            70% {
                left: 40%;
                bottom: 38%;
                opacity: 1;
                transform: scale(.8);
            }
            85% {
                left: 40%;
                bottom: 37%;
                opacity: 1;
                transform: scale(1);
            }
            90% {
                left: 40%;
                bottom: 36%;
                opacity: .5;
                transform: scale(1);
            }
            100% {
                left: 40%;
                bottom: 36%;
                opacity: 0;
                transform: scale(1);
            }
        }
        @keyframes MoveTo {
            0% {
                left: 35%;
                bottom: 16%;
                opacity: 0;
                transform: scale(1.5);
            }
            15% {
                left: 35%;
                bottom: 16%;
                opacity: 1;
                transform: scale(1.5);
            }
            50% {
                left: 35%;
                bottom: 26%;
                opacity: 1;
                transform: scale(1.4);
            }
            70% {
                left: 35%;
                bottom: 30%;
                opacity: 1;
                transform: scale(1.2);
            }
            85% {
                left: 35%;
                bottom: 35%;
                opacity: 1;
                transform: scale(1);
            }
            90% {
                left: 35%;
                bottom: 35%;
                opacity: .5;
                transform: scale(1);
            }
            100% {
                left: 35%;
                bottom: 35%;
                opacity: 0;
                transform: scale(1);
            }
        }
        &_merah {
            position: absolute;
            bottom: 26%;
            left: 10%;
            width: 150px;
            height: auto;
            animation: MoveUpDown 4s linear infinite;
            transition: transform .2s;
            transform: scale(1);
            @media screen and (max-width: 766px) {
                width: 50px;
                bottom: 30%;
                animation: MoveUpDownMob 4s linear infinite;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        &_hijau {
            position: absolute;
            bottom: 56%;
            left: 40%;
            width: 150px;
            height: auto;
            // animation: MoveUpDown 4s linear infinite;
            transition: transform .2s;
            // transform: scale(1);
            @media screen and (max-width: 766px) {
                width: 50px;
                bottom: 40%;
                transform: scale(.5);
                animation: MoveUpDownMobH 4s linear infinite;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        &_biru {
            position: absolute;
            bottom: 16%;
            left: 35%;
            width: 150px;
            height: auto;
            animation: MoveTo 4s linear infinite;
            transition: transform .2s;
            transform: scale(1.5);
            @media screen and (max-width: 766px) {
                width: 60px;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        @media screen and (max-width: 766px) {
            width: 100vw;
            /* height: 100vh; */
            height: initial;
            position: absolute;
            /* inset: 0; */
            bottom: 0;
            top: initial;
            left: 0;
            right: 0;
        }
        img {
            width: 100%;
            max-width: 100% !important;
            height: 100%;
            object-fit: cover;
            @media screen and (max-width: 766px) {
                object-fit: contain;
            }
        }
    }
    .semua {
        display: block;
        border-bottom: 2px solid;
        padding: 16px 0;
    }
    .text2,
    .text4 {
        font-size: 2rem;
        display: inline-block;
        // font-family: 'Bebas Neue';
        width: 60%;
        vertical-align: middle;
        @media screen and (max-width: 766px) {
            font-size: 1.4rem;
        }
    }
    .font-3 {
        font-size: 3.5rem;
        display: inline-block;
        font-weight: bold;
        width: 35%;
        @media screen and (max-width: 766px) {
            display: inline-block;
            /* text-align: right; */
            /* float: right; */
            font-weight: 700;
            vertical-align: middle;
            font-size: 2.7rem;
            padding-right: 0;
            text-align: right;
        }
    }
    .text3 {
        display: inline-block;
        width: 35%;
        font-weight: 700;
        vertical-align: middle;
        font-size: 3.5rem;
        @media screen and (max-width: 766px) {
            display: inline-block;
            /* text-align: right; */
            /* float: right; */
            font-weight: 700;
            vertical-align: middle;
            font-size: 2.7rem;
            padding-right: 0;
            text-align: right;
        }
    }
    .box {
        position: relative;
        width: 100%;
        min-height: 100vh;
        padding: 32px;
        background: linear-gradient(to bottom, #c7efe7, #bdebee);
        // background: linear-gradient(to bottom, #c7efe7, #bdebee);
        @media screen and (max-width: 766px) {
            padding: 32px 24px;
        }
    }
    .box .text1 {
        display: block;
        @media screen and (max-width: 766px) {
            padding-top: 1.2rem;
        }
        h2 {
            display: inline-block;
            line-height: 3rem;
            color: #f8be4d;
            font-size: 3.5rem;
            font-family: 'Kanit';
            text-shadow: 2px 2px #000;
        }
        .first {
            @media screen and (max-width: 766px) {
                font-size: 3.5rem;
            }
        }
        .second {
            margin-left: 8px;
            @media screen and (max-width: 766px) {
                font-size: 2.8rem;
            }
        }
    }
    .box img {
        max-width: 300px;
    }
    .box2 {
        position: relative;
        width: 100%;
        min-height: 100vh;
        padding: 32px;
        // background: #000;
        // background: #43a85c;
        // background: linear-gradient(to bottom, #c7efe7, #bdebee);
        background: #82cdd4;
        @media screen and (max-width: 766px) {
            padding: 32px 24px;
        }
    }
    .box2 h2 {
        font-size: 3.5rem;
        color: #fff;
    }
}