.data-tol {
    background: #c7efe7;
    @media screen and (max-width: 766px) {
        // background: #bdebee;
        background: linear-gradient(to bottom, #c7efe7, #bdebee);
    }
    .image-awan {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: auto;
        width: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .imagev {
        width: 100vw;
        height: 60vh;
        position: absolute;
        // top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        @media screen and (max-width: 766px) {
            width: 100vw;
            /* height: 100vh; */
            height: initial;
            position: absolute;
            /* inset: 0; */
            bottom: 0;
            top: initial;
            left: 0;
            right: 0;
        }
        img {
            width: 100%;
            max-width: 100% !important;
            height: 100%;
            object-fit: cover;
            @media screen and (max-width: 766px) {
                object-fit: contain;
            }
        }
    }
    .semua {
        display: block;
        border-bottom: 2px solid;
        padding: 16px 0;
    }
    .text2 {
        font-size: 2rem;
        display: inline-block;
        // font-family: 'Bebas Neue';
        width: 60%;
        vertical-align: middle;
        @media screen and (max-width: 766px) {
            font-size: 1.5rem;
        }
    }
    .text3 {
        display: inline-block;
        width: 35%;
        font-weight: 700;
        vertical-align: middle;
        font-size: 3.5rem;
    }
    .box {
        position: relative;
        width: 100%;
        min-height: 100vh;
        padding: 32px;
        @media screen and (max-width: 766px) {
            padding: 24px;
        }
    }
    .box h2 {
        font-size: 3.5rem;
        line-height: 3.2rem;
        font-family: 'Kanit';
        text-shadow: 2px 2px #fcfcfc;
    }
    .box img {
        max-width: 300px;
    }
    .box2 {
        position: relative;
        width: 100%;
        min-height: 100vh;
        padding: 100px;
        // background: #000;
        // background: #43a85c;
        background: #c7efe7;
    }
    .box2 h2 {
        font-size: 3.5rem;
        color: #fff;
    }
}