$b: .7em; // border-width
$blur: blur(9px);
$rect: inset(0);

.drama {
    position: relative;
    background: #d6d6d6;

    @media screen and (max-width: 766px) {
        padding-bottom: 110px;
    }

    .judul-article {
        text-align: center;
        width: fit-content;
        position: relative;
        margin: 0 auto 16px;

        @media screen and (max-width: 766px) {
            margin: 0 auto 36px;
        }

        .garis {
            position: absolute;
            // left: 0;
            left: 50%;
            // right: 0;
            bottom: -8%;
            height: 5px;
            background: white;
            width: 90%;
            transform: translate(-50%, 0%);

            @media screen and (max-width: 766px) {
                bottom: -16%;
            }

            &::before {
                content: "";
                left: 0;
                width: 100px;
                height: 5px;
                bottom: 0;
                background: #f7322c;
                position: absolute;
            }

            &::after {
                content: "";
                right: 0;
                width: 50px;
                height: 5px;
                bottom: 0;
                background: gray;
                position: absolute;
            }
        }

        h2 {
            font-size: 3.5rem;
            font-weight: bold;
            font-family: 'Kanit' !important;

            @media screen and (max-width: 766px) {
                font-size: 2.5rem;
            }
        }
    }

    &__img {
        position: absolute;
        left: 0;
        bottom: -24px;
        width: 230px;
        height: auto;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .data {
        margin-bottom: 16px;

        &__judul {
            font-size: 1.6rem;
            // background: #00b15c;
            font-family: 'Nunito Sans';
            padding: 4px 8px;
            font-weight: bold;
            border-radius: 8px;
            margin-bottom: 8px;
            // color: white;
            text-align: left;
            // width: fit-content;
            position: relative;

            // &::before {
            //     content: "";
            //     position: absolute;
            //     right: 0;
            //     top: 50%;
            //     width: 50%;
            //     height: 2px;
            //     background: black;
            // }
        }

        .icon {
            width: 100%;
            height: 240px;
            border: solid $b rgba(#000, .03);
            box-shadow: 2px 2px 5px rgba(#000, .2), 2px 2px 17px rgba(#000, .35), 2px 2px 25px rgba(#000, .5);
            // height: 120px;
            // float: left;
            vertical-align: top;
            margin-right: 8px;
            margin-bottom: 24px;

            &::before {
                content: "";
                position: absolute;
                z-index: -1;
                top: -$b;
                right: -$b;
                bottom: -$b;
                left: -$b;
                border: inherit;
                border-color: transparent;
                background: inherit;
                background-clip: border-box;
                -webkit-filter: $blur;
                backdrop-filter: $blur;
                -webkit-clip-path: $rect;
                clip-path: $rect;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .content {
        margin-bottom: 130px;

        @media screen and (max-width:766px) {
            margin-bottom: 0;
        }
    }
}