.drama {
    position: relative;
    @media screen and (max-width: 766px) {
        padding-bottom: 110px;
    }
    .judul-article {
        text-align: center;
        h2 {
            font-size: 3.5rem;
            font-weight: bold;
            font-family: 'Kanit' !important;
        }
    }
    &__img {
        position: absolute;
        left: 0;
        bottom: -24px;
        width: 230px;
        height: auto;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .data {
        margin-bottom: 16px;
        &__judul {
            font-size: 1.6rem;
            background: #00b15c;
            font-family: 'Kanit';
            padding: 4px 8px;
            border-radius: 8px;
            margin-bottom: 8px;
            color: white;
            text-align: left;
            width: fit-content;
        }
        .icon {
            width: 120px;
            height: 120px;
            float: left;
            vertical-align: top;
            margin-right: 8px;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}