/* 
I'm using CSS Grid to layer three slides one on top of the other. 
You could also use absolute positioning if you prefer. 

I chose CSS Grid because it lets the child elements (the slides) 
retain their height. If you use absolute positioning, you will 
want to specify a height for the container.
*/

.gsap-drama {
    position: relative;
    .ilustrasi {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.slide-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

.slide {
    grid-row: 1;
    grid-column: 1;
}

// Just styling for the demo, none of this is needed for functionality.
$offwhite: #ffd571;
$sailboat: #3c2946;
$coral: #ee6f57;
$orange: #db9c31;
$jet: #333333;
$tulip: #56556e;
body {
    background-color: $offwhite;
    // color: $jet;
    // font-family: "Lora", "Georgia", serif;
}

section {
    min-height: 100vh;
    // display: flex;// justify-content: center;
    // flex-direction: column;
    // padding: 5rem;
}

.lead {
    font-size: 5vw;
    line-height: 1.4;
    max-width: 90vw;
}

.scroll-trigger {
    // background-color: $orange;
    background: #3c97c7;
    // background: #4caf50;
    // background: #6d4c41;
    position: relative;
    .ilustrasi {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        &::before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: linear-gradient(to top, rgba(60, 41, 70, 0.85), rgba(60, 41, 70, 1));
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.title {
    font-size: 6vw;
    margin-bottom: 3rem;
    color: #ffffff;
    text-align: center;
    font-family: "Kanit" !important;
    @media screen and (max-width: 766px) {
        font-size: 3rem;
        line-height: 2.5rem;
    }
}

.slide {
    width: 75vw;
    margin: 3rem auto;
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.slide-container {
    display: grid;
    position: relative;
    top: -110px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    @media screen and (max-width: 766px) {
        top: 0;
    }
}

.lingkaran {
    // content: "";
    position: absolute;
    left: 50%;
    z-index: 20;
    z-index: 3;
    overflow: hidden;
    top: 0;
    transform: translate(-50%, 20%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.4), #3c97c7);
    width: 250px;
    border-radius: 50%;
    height: 250px;
    // opacity: .5;
}

.image-peta {
    position: absolute;
    bottom: 35vh;
    width: 60vw;
    right: 0;
    &.trans {
        opacity: .2;
        z-index: 1;
        bottom: 15vh;
        transform: scale(1.5);
    }
    &.top {
        // z-index: 9;
        bottom: initial;
        top: 20%;
        left: -20vw;
        transform: scale(1.5);
        left: -20vw;
    }
    // opacity: .3;
    &::before {}
    @media screen and (max-width: 766px) {
        bottom: -10vh;
        width: 100vw;
        right: initial;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.image88 {
    margin: 5rem 0;
    grid-row: 1 / span 2;
    grid-column: 2 / span 2;
    height: 0;
    padding-bottom: 100%;
    border-radius: 50%;
    .slide[data-slide="1"] & {
        // background-color: rgba(255, 255, 255, 0.1);
        // background-image: url('../img/java.png');
        // background-repeat: no-repeat;
    }
    .slide[data-slide="2"] & {
        // background: rgba($tulip, .3);
    }
    .slide[data-slide="3"] & {
        // background-color: rgba(255, 255, 255, 0.2);
    }
}

.text {
    font-family: "Nunito Sans", sans-serif;
    font-size: 2.5vw;
    line-height: 1.3;
    color: rgba(255, 255, 255, 0.75);
    grid-column: 1 / span 2;
    position: relative;
    z-index: 21;
    @media screen and (max-width: 766px) {
        grid-column: 1 / span 3;
        font-size: 1.1rem;
    }
}

.text:nth-of-type(1),
.text:nth-of-type(2) {
    grid-row: 1;
}

.text:nth-of-type(3),
.text:nth-of-type(4) {
    grid-row: 2;
}

.text:nth-of-type(1),
.text:nth-of-type(3) {
    align-self: start;
    margin-right: 1rem;
}

.text:nth-of-type(2),
.text:nth-of-type(4) {
    align-self: center;
    grid-column: 3 / span 2;
    margin-left: 1rem;
}

.scroll-prompt {
    height: 200px;
    width: 1px;
    background-color: $jet;
    display: block;
    margin: 2rem 0.2rem 2rem;
}