.jadwal {
    background: #f8f8f8;
    position: relative;
    min-height: auto;
    .image {
        width: 100%;
        height: auto;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}