.pembukaan {
    // background: #fea7a7;
    // background: #e7bfbf;
    background: #dbedc4;
    position: relative;
    min-height: 100vh;
    &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100px;
        background: linear-gradient(to top, #d6d6d6, transparent);
    }
}