.pembukaan {
    // background: #fea7a7;
    // background: #e7bfbf;
    background: #bdebee;
    position: relative;
    min-height: 100vh;
    padding: 62px 32px 295px;
    @media screen and (max-width: 766px) {
        padding: 32px 0 130px !important;
    }
    p {
        font-size: 1.5rem;
        @media screen and (max-width: 766px) {
            font-size: 1rem;
        }
    }
    .pattern {
        position: absolute;
        inset: 0;
        width: 100%;
        opacity: .15;
        // display: none;
        height: 100%;
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            z-index: 9;
            background: linear-gradient(to top, #bdebee, rgba(white, .1));
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    @media screen and (max-width: 766px) {
        padding: 32px 0;
    }
    .image-keluarga {
        position: absolute;
        bottom: 0;
        right: 0;
        // left: 0;
        height: auto;
        @media screen and (max-width: 766px) {
            width: 50%;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .image-awan {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 9;
        height: auto;
        width: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100px;
        // background: linear-gradient(to top, #d6d6d6, transparent);
    }
    .image-macet {
        position: absolute;
        opacity: 1;
        z-index: 1;
        bottom: 0;
        left: -15vw;
        height: auto;
        @media screen and (max-width: 766px) {
            width: 320px;
            left: -45vw;
            bottom: -8vh;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}