.pembukaan {
    // background: #fea7a7;
    // background: #e7bfbf;
    background: #bdebee;
    position: relative;
    min-height: 100vh;
    padding: 62px 32px;
    @media screen and (max-width: 766px) {
        padding: 32px 0;
    }
    .image-awan {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: auto;
        width: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100px;
        // background: linear-gradient(to top, #d6d6d6, transparent);
    }
}