.penutup {
    min-height: auto;
    // position: fixed;
    // height: 400px;
    // background: red;
    // z-index: 1;
    // inset: 0;
    position: relative;
    padding-bottom: 42px;
    background: white;

    .tes {
        position: absolute;
        // left: 0;
        bottom: 5%;
        right: 15%;
        transform: rotate(-90deg);
        width: 50px;
        opacity: .9;
        height: auto;
        z-index: 9;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .judul {
        font-size: 3.5rem;
        color: #73f62f;
        text-shadow: 1px 2px black;

        @media screen and (max-width: 766px) {
            font-size: 2rem;
            text-shadow: 1px 1px black;
        }
    }

    .img-bg {
        position: absolute;
        inset: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .img {
        position: absolute;
        right: 0%;
        top: 0;
        width: 15%;
        bottom: 0;
        height: auto;
        height: auto;

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background: linear-gradient(to bottom, rgba(white, 1), transparent);
        }

        @media screen and (max-width: 766px) {
            height: 88vh;
            width: 25%;
            // transform: translate(0, 15%);
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            // @media screen and (max-width: 766px) {
            //     object-fit: contain;
            // }
        }
    }

    .content {
        // background: white;
        padding: 16px;

        // width: 65vw;
        // backdrop-filter: blur(4px);
        @media screen and (max-width: 766px) {
            width: 70vw;
        }
    }

    .imagecx {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 50%;
        height: 50%;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}