.peta {
    // background: #fd6669;
    background: #bcf69d;
    // margin-left: 42px;
    position: relative;

    &__image {
        width: 100%;
        display: inline-block;
        height: 420px;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .judul-hero {
        background: #00b15c;
        width: fit-content;
        // margin: 0 auto 24px;
        margin-bottom: 16px;
        font-family: 'Kanit';
        margin-left: 32px;
        border-radius: 16px;
        z-index: 9;
        padding: 8px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            left: -40px;
            top: 16px;
            width: 40px;
            height: 8px;
            background: grey;
        }

        &::after {
            content: "";
            position: absolute;
            left: -40px;
            bottom: 16px;
            width: 40px;
            height: 8px;
            background: grey;
        }

        h3 {
            // background-color: white;
            margin: 0;
            font-family: 'Kanit';
            border-radius: 12px;
            color: white;
            padding: 0;
            border: 1px solid white;
            background: #00c174;
            padding: 16px;
            font-size: 3rem;

            @media screen and (max-width: 766px) {
                font-size: 1.7rem;
                padding: 8px;
            }
        }
    }
}