.tol {
    position: relative;
    // background: linear-gradient(to bottom, #2f8bcc, white);
    background: linear-gradient(to bottom, #2f8bcc, #d0efff);
    // background: #2f8bcc;
    .btn {
        // box-shadow: 1px 2px 6px #bbb;
        align-items: center;
        appearance: none;
        background-color: #fff;
        border-radius: 24px;
        border-style: none;
        box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
        box-sizing: border-box;
        color: #3c4043;
        cursor: pointer;
        display: inline-flex;
        fill: currentcolor;
        // font-family: "Google Sans", Roboto, Arial, sans-serif;
        // font-size: 14px;
        font-weight: 500;
        // height: 48px;
        padding: 16px;
        font-weight: bold;
        justify-content: center;
        letter-spacing: .25px;
        line-height: normal;
        max-width: 100%;
        overflow: visible;
        padding: 8px 16px;
        position: relative;
        text-align: center;
        text-transform: none;
        transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        width: fit-content;
        will-change: transform, opacity;
        z-index: 0;
        &:hover {
            background: #F6F9FE;
            color: #174ea6;
        }
        &:active {
            box-shadow: 0 4px 4px 0 #3c4043, 0 8px 12px 6px #3c4043;
            outline: none;
        }
        &:focus {
            outline: none;
            border: 2px solid #317ea5;
        }
    }
    &::before {
        content: "";
        position: absolute;
        inset: 0;
        // background: linear-gradient(to top, #db9c31, transparent);
    }
    .datanya {
        h3 {
            color: white;
            font-size: 1.6rem;
            text-shadow: 1px 1px black;
            margin-bottom: 8px;
        }
    }
    .keluar {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100vw;
        height: auto;
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background: linear-gradient(to top, transparent, #2f8bcc);
        }
        @media screen and (max-wdith:766px) {}
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .awan {
        position: absolute;
        z-index: 99;
        top: -135px;
        right: 0;
        left: 0;
        width: 100%;
        height: auto;
        @media screen and (max-width: 766px) {
            top: -36px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .judul {
        h2 {
            font-size: 4rem;
            color: white;
            font-family: 'Kanit';
            text-shadow: 2px 2px black;
            // font-weight: 700;
            @media screen and (max-width: 766px) {
                font-size: 2.5rem;
            }
        }
    }
    @keyframes MovePeta {
        0%,
        100% {
            left: 0%;
        }
        50% {
            left: 3%;
        }
    }
    .image {
        width: 100%;
        height: 460px;
        left: 0%;
        // animation: MovePeta 2.5s linear infinite;
        position: relative;
        overflow: auto;
        .mobild {
            position: absolute;
            right: 13vw;
            bottom: 7vh;
            width: 20px;
            height: auto;
            z-index: 9;
            transform: rotate(-46deg);
            @media screen and (max-width: 766px) {
                right: 12%;
                bottom: 11%;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .mobilj {
            position: absolute;
            left: 13vw;
            top: 22vh;
            width: 50px;
            height: auto;
            z-index: 9;
            // transform: rotate(-46deg);
            @media screen and (max-width: 766px) {
                left: 12%;
                top: 32%;
                width: 36px;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        &__gambar,
        &__garis {
            position: absolute;
            inset: 0;
            width: 200%;
            // transform: scale(1.5);
            height: 200%;
            // @media screen and (max-width: 766px) {
            //     overflow: scroll;
            // }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &__garis {
            z-index: 8;
        }
        @media screen and (max-width: 766px) {
            width: auto;
            z-index: 99;
            height: 240px;
            overflow: scroll;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            @media screen and (max-width: 766px) {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .line {
        width: 100%;
        height: 2px;
        background: #317ea5;
        margin: 24px 0;
    }
    .wrapings {
        // background: white;
        // margin-bottom: 32px;
    }
    .details {
        margin-bottom: 8px;
        .rute {
            background: #e0a726;
            width: fit-content;
            padding: 0 32px 0 8px;
            border-radius: 8px;
            position: relative;
            // margin-bottom: 16px;
        }
        &__text {
            color: white;
            font-size: 1.3rem;
            // text-shadow: 1px 1px black;
            // font-family: 'Kanit';
            font-weight: bold;
        }
        table {
            // background: #97c6e4;
            margin-bottom: 0;
            td {
                border-top: 1px solid transparent;
                // &:first-child {
                //     width: 3%;
                // }
                // &:nth-child(2) {
                //     width: 80%;
                // }
                &:last-child {
                    font-weight: bold;
                }
                // border-radius: 8px;
                @media screen and (max-width:766px) {
                    font-size: .9rem;
                }
            }
        }
        .bungkus {
            background: rgba($color: #97c6e4, $alpha: .8);
            padding: 8px;
            border-radius: 8px;
            font-size: 1rem;
        }
        &__icon {
            position: absolute;
            right: -32px;
            top: -4px;
            background: #1a4766;
            box-shadow: 1px 1px 4px #222;
            width: 48px;
            height: 48px;
            border-radius: 50%;
            padding: 6px;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
    .keterangan {
        .f12 {
            font-size: 12px;
            vertical-align: middle;
        }
        .merah {
            width: 30px;
            height: 10px;
            background: #cc0a0d;
        }
        .hijau {
            width: 30px;
            height: 10px;
            background: #77c000;
        }
        .biru {
            width: 30px;
            height: 10px;
            background: #2980e9;
        }
        .kuning {
            width: 30px;
            height: 10px;
            background: #f2bb04;
        }
    }
}

.namaa {
    top: 40px !important;
    @media screen and (max-width: 766px) {
        top: 20px !important;
    }
}

.color-white {
    color: white;
}


/* CSS */

// .button-17 {
//     align-items: center;
//     appearance: none;
//     background-color: #fff;
//     border-radius: 24px;
//     border-style: none;
//     box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
//     box-sizing: border-box;
//     color: #3c4043;
//     cursor: pointer;
//     display: inline-flex;
//     fill: currentcolor;
//     // font-family: "Google Sans", Roboto, Arial, sans-serif;
//     font-size: 14px;
//     font-weight: 500;
//     // height: 48px;
//     justify-content: center;
//     letter-spacing: .25px;
//     line-height: normal;
//     max-width: 100%;
//     overflow: visible;
//     padding: 2px 24px;
//     position: relative;
//     text-align: center;
//     text-transform: none;
//     transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
//     user-select: none;
//     -webkit-user-select: none;
//     touch-action: manipulation;
//     width: auto;
//     will-change: transform, opacity;
//     z-index: 0;
// }
// .button-17:hover {
//     background: #F6F9FE;
//     color: #174ea6;
// }
// .button-17:active {
//     box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
//     outline: none;
// }
// .button-17:focus {
//     outline: none;
//     border: 2px solid #4285f4;
// }
// .button-17:not(:disabled) {
//     box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
// }
// .button-17:not(:disabled):hover {
//     box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
// }
// .button-17:not(:disabled):focus {
//     box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
// }
// .button-17:not(:disabled):active {
//     box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
// }
// .button-17:disabled {
//     box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
// }