.tol {
    position: relative;
    background: linear-gradient(to bottom, #2f8bcc, white);
    // background: #2f8bcc;
    &::before {
        content: "";
        position: absolute;
        inset: 0;
        // background: linear-gradient(to top, #db9c31, transparent);
    }
    .datanya {
        h3 {
            color: white;
            font-size: 1.6rem;
            text-shadow: 1px 1px black;
            margin-bottom: 8px;
        }
    }
    .keluar {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100vw;
        height: auto;
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background: linear-gradient(to top, transparent, #2f8bcc);
        }
        @media screen and (max-wdith:766px) {}
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .awan {
        position: absolute;
        z-index: 99;
        top: -135px;
        right: 0;
        left: 0;
        width: 100%;
        height: auto;
        @media screen and (max-width: 766px) {
            top: -36px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .judul {
        h2 {
            font-size: 4rem;
            color: white;
            font-family: 'Kanit';
            text-shadow: 2px 2px black;
            // font-weight: 700;
            @media screen and (max-width: 766px) {
                font-size: 2.5rem;
            }
        }
    }
    @keyframes MovePeta {
        0%,
        100% {
            left: 0%;
        }
        50% {
            left: 3%;
        }
    }
    .image {
        width: 100%;
        height: 460px;
        left: 0%;
        // animation: MovePeta 2.5s linear infinite;
        position: relative;
        .mobild {
            position: absolute;
            right: 13vw;
            bottom: 7vh;
            width: 20px;
            height: auto;
            z-index: 9;
            transform: rotate(-46deg);
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        &__gambar,
        &__garis {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &__garis {
            z-index: 8;
        }
        @media screen and (max-width: 766px) {
            width: auto;
            height: 240px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .line {
        width: 100%;
        height: 2px;
        background: #317ea5;
        margin: 24px 0;
    }
    .wrapings {
        // background: white;
        // margin-bottom: 32px;
    }
    .details {
        margin-bottom: 8px;
        .rute {
            background: #e0a726;
            width: fit-content;
            padding: 0 32px 0 8px;
            border-radius: 8px;
            position: relative;
            // margin-bottom: 16px;
        }
        &__text {
            color: white;
            font-size: 1.3rem;
            // text-shadow: 1px 1px black;
            // font-family: 'Kanit';
            font-weight: bold;
        }
        table {
            // background: #97c6e4;
            margin-bottom: 0;
            td {
                border-top: 1px solid transparent;
                &:last-child {
                    font-weight: bold;
                }
                // border-radius: 8px;
                @media screen and (max-width:766px) {
                    font-size: .9rem;
                }
            }
        }
        .bungkus {
            background: rgba($color: #97c6e4, $alpha: .8);
            padding: 8px;
            border-radius: 8px;
            font-size: 1rem;
        }
        &__icon {
            position: absolute;
            right: -32px;
            top: -4px;
            background: #1a4766;
            box-shadow: 1px 1px 4px #222;
            width: 48px;
            height: 48px;
            border-radius: 50%;
            padding: 6px;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}